  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for @user do |f| %>
  <%= render partial:'partial', locals:{:f => f} %>
<% end %>

<h3>* denotes required field</h3>