<h1>Welcome to Follow Up!</h1> 

<h2>This is an app for organizers to keep tab on their actions. It's very crude.</h2> 

<%= link_to 'Users', users_path%>
<br>

<% if logged_in?%>
	<h4><%=current_user.full_name%></h4>
<% end %>


<% if logged_in? %>
	<h2> <%= link_to 'Log Out', logout_path, method: :delete %> </h2>
<% else %>
	<h2>Click <%= link_to 'here', login_path%> to log in!</h2> 
<% end %>

