ul {
  list-style-type: none;
}

a:link {
	text-decoration:none
}

* {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $black;
}

body {
	background: $white;
}

.link {
	font-style: italic
}

.mainLi {
	border-radius: 10px;
}