// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mainHeader {
	float: left;
	width: 100%;
	margin-top:0;
	padding-left:0;
	margin-bottom:0px;
}

.mainLi {
	border: 1px solid black;
	width: 49%;
	float: left;
	text-align:center;
	margin-top: 25px;
	margin-bottom:25px;
	font-size:30px;
	transition: background-color 200ms linear;
}

.mainLi:hover{
	background-color:$red
}

#welcome {
	z-index:1;
}