<h2>Website: <%= link_to @organization.name, @organization.website, target: :_blank %></h2>
<h3>Back to <%= link_to 'full list', organizations_path%></h3>

<div class="organizationListDiv">
	<h3>Other Members:</h3>
	<ul class="memberList">
		<% @organization.members.each do |member| %>
			<li class="memberListLi"><%=member.full_name%></li>
		<% end %>
	</ul>
</div>

<div class="organizeeListDiv">
	<h3>Here are the people you're organizing:</h3>
	<% organization.your_organizees.each do |person| %>
		<div><%=link_to person.name, user_follower_path(user_id:current_user.id,id:person.id) %></div>
	<% end %>
</div>
